/*GENERAL*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*HERO SECTION*/
.hero-container,
.footer-container {
    background-color: #1F2937
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 175px;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.about-container {
    display: flex;
    justify-content: space-between;
    margin: 100px 175px;
    gap: 40px;
}

.about-img {
    background-color: hsl(214deg 7% 46%);
    color: #f9faf8;
    max-width: 350px;
    margin: auto;
    padding: 100px;
}

.about-info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.about-container p {
    margin: 0px;
}

.links {
    display: flex;
    gap: 20px;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
}

/*INFORMATION SECTION*/
#title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.information-container {
    text-align: center;
    flex: 1;
    margin: 0px 175px;
}

.box-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info {
    width: 150px;
}

.box {
    border: 4px solid #3882f6;
    height: 142px;
    border-radius: 10px;
}

.text {
    padding-top: 10px;
    padding-bottom: 85px;
  } 

/*QUOTE SECTION*/
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.quote {
    padding: 100px 0px;
    margin: 0px 375px;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    margin: 0px;
}

.quote p {
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
    margin: 0px;
}

/*ACTION SECTION*/
.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 100px 175px;
}
.action-info {
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
}

#action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.action-text {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
}

.action-text h1 {
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.action-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px
}

/*FOOTER SECTION*/
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*background-color general*/
a,
.footer-container,
.about-info p {
    color: #e5e7eb;
    font-size: 18px;
}

/*buttons general*/
button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 8px 35px;
    border-radius: 10px;
    border-style: none;
}

.about-info button {
    margin-top: 10px;
}

#action-button button { 
    border-style: solid;
    border-color: #f9faf8;
}