/*GENERAL*/
body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.body {
    display: flex; /*makes it possible for the 3 flex-items to flex: 1 to stretch*/
    flex-direction: column;
    flex: 1; /* fixes header and footer in place */
}

/*HERO SECTION*/
.hero,
.footer {
    background-color: #1F2937
}

.header {
    display: flex;
    justify-content: space-between; /* spreads links and logo to edges */
    margin: 0px 175px;
}

.logo {
    display: flex;
    align-items: center; /* centering logo */
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 100px 175px;
    gap: 40px;
}

.about-img {
    background-color: #626972;
    color: #f9faf8;
    width: 300px;
    padding: 100px; /*this needs to change...max height?*/
}

.about-info h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
}

.about p {
    margin: 0px;
}

.links {
    display: flex;
    gap: 20px; /* gap between links */

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
}

/*INFORMATION SECTION*/
.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.information {
    text-align: center;
    flex: 1;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}

.box {
    border: 4px solid #3882f6;
    height: 100px;
}

.text { /*can I add this to .box for width?*/
    max-width: 130px;
  } 

/*QUOTE SECTION*/
.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.quote {
    width: 850px;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.quote p {
    text-align: right; /* this isn't working because of the small */
}

/*ACTION SECTION*/
.action-container {
     /*need to change this*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.action-info {
    background-color: #3882f6;
    display: flex;
}

.action-words {
    display: flex;
    flex-direction: column;
}

/*FOOTER SECTION*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*background-color general*/
a,
.footer,
.about-info p {
    color: #e5e7eb;
    font-size: 18px;
}

/*buttons-general*/
button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bolder;
    color: #f9faf8;
    padding: 8px 35px;
    border-radius: 10px;
    border-style: none;
}

.about-info button {
    margin-top: 10px;
}

.action-info button {
    border-style: solid;
    border-color: #f9faf8;
}